USE [master]
GO
/****** Object:  Database [DA1_QLKho]    Script Date: 12/19/2019 21:18:03 ******/
CREATE DATABASE [DA1_QLKho] ON  PRIMARY 
( NAME = N'DA1_QLKho', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DA1_QLKho.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DA1_QLKho_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DA1_QLKho_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DA1_QLKho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DA1_QLKho]
GO
/****** Object:  Table [dbo].[ThongTinKho]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKho](
	[MaKho] [nvarchar](50) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[DiaChiKho] [nvarchar](150) NULL,
 CONSTRAINT [PK_ThongTinKho] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ThongTinKho] ([MaKho], [TenKho], [DiaChiKho]) VALUES (N'K01', N'Kho A', N'Cần Thơ')
INSERT [dbo].[ThongTinKho] ([MaKho], [TenKho], [DiaChiKho]) VALUES (N'K02', N'Kho B', N'HCM')
INSERT [dbo].[ThongTinKho] ([MaKho], [TenKho], [DiaChiKho]) VALUES (N'K03', N'Kho C', N'Đà Nẵng')
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'ML01', N'Điệ Gia Dùng')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'ML02', N'Điện Tử')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'ML03', N'Thực Phẩm')
/****** Object:  Table [dbo].[LoaiNhaCC]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhaCC](
	[MaLoaiCC] [nvarchar](50) NOT NULL,
	[QuocGiaCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiNhaCC] PRIMARY KEY CLUSTERED 
(
	[MaLoaiCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiNhaCC] ([MaLoaiCC], [QuocGiaCC]) VALUES (N'MLCC01', N'Việt Nam')
INSERT [dbo].[LoaiNhaCC] ([MaLoaiCC], [QuocGiaCC]) VALUES (N'MLCC02', N'Trung Quốc Q')
INSERT [dbo].[LoaiNhaCC] ([MaLoaiCC], [QuocGiaCC]) VALUES (N'MLCC03', N'Mĩ')
/****** Object:  Table [dbo].[NhomNguoiDung]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNguoiDung](
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'N01', N'Quan Ly Kho')
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'N02', N'Nhan Vien')
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'N03', N'Nhân Viên')
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCC] [nvarchar](50) NOT NULL,
	[MaLoaiCC] [nvarchar](50) NULL,
	[TenNhaCC] [nvarchar](50) NULL,
	[DiaChiCC] [nvarchar](150) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhaCungCap] ([MaNhaCC], [MaLoaiCC], [TenNhaCC], [DiaChiCC]) VALUES (N'MNCC01', N'MLCC01', N'Cong ty A', N'Cần Thơ')
INSERT [dbo].[NhaCungCap] ([MaNhaCC], [MaLoaiCC], [TenNhaCC], [DiaChiCC]) VALUES (N'MNCC02', N'MLCC02', N'Cong ty B', N'HCM')
INSERT [dbo].[NhaCungCap] ([MaNhaCC], [MaLoaiCC], [TenNhaCC], [DiaChiCC]) VALUES (N'MNCC03', N'MLCC03', N'Cong ty C', N'Đà Nẵng')
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [nvarchar](50) NOT NULL,
	[TenND] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[MaNhom] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [Password], [MaNhom]) VALUES (N'ND1', N'Thien', N'123', N'N01')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [Password], [MaNhom]) VALUES (N'ND2', N'Di', N'123', N'N01')
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [Password], [MaNhom]) VALUES (N'ND3', N'Thuan', N'123', N'N02')
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaNhap] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NULL,
	[MaKho] [nvarchar](50) NULL,
	[Gia] [money] NULL,
	[SoLuong] [int] NULL,
	[NgayNhap] [date] NULL,
	[MaND] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhieuNhap] ([MaNhap], [MaSP], [MaKho], [Gia], [SoLuong], [NgayNhap], [MaND]) VALUES (N'N01', N'SP1', N'K03', 200.0000, 10, CAST(0x2A3F0B00 AS Date), N'ND1')
INSERT [dbo].[PhieuNhap] ([MaNhap], [MaSP], [MaKho], [Gia], [SoLuong], [NgayNhap], [MaND]) VALUES (N'N010', N'SP10', N'K01', 220.0000, 14, CAST(0x053E0B00 AS Date), N'ND1')
INSERT [dbo].[PhieuNhap] ([MaNhap], [MaSP], [MaKho], [Gia], [SoLuong], [NgayNhap], [MaND]) VALUES (N'N011', N'SP11', N'K02', 350.0000, 18, CAST(0x6C3F0B00 AS Date), N'ND2')
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/19/2019 21:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MaLoai] [nvarchar](50) NULL,
	[MaNhap] [nvarchar](50) NULL,
	[MaNhaCC] [nvarchar](50) NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaNhap], [MaNhaCC], [NSX], [HSD]) VALUES (N'MSP1', N'Thuan', N'ML01', N'N01', N'MNCC01', CAST(0x83400B00 AS Date), CAST(0x83400B00 AS Date))
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaNhap], [MaNhaCC], [NSX], [HSD]) VALUES (N'SP1', N'Sua', N'ML03', N'N01', N'MNCC03', CAST(0x2C3F0B00 AS Date), CAST(0x07420B00 AS Date))
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoai], [MaNhap], [MaNhaCC], [NSX], [HSD]) VALUES (N'SP10', N'Biabia', N'ML02', N'N010', N'MNCC04', CAST(0x073E0B00 AS Date), CAST(0x01410B00 AS Date))
/****** Object:  StoredProcedure [dbo].[sp_ThongKeNhapKho]    Script Date: 12/19/2019 21:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[sp_ThongKeNhapKho]
(@Year int)
AS
Begin
	select sp.TenSP,
	lsp.TenLoai,
	pn.SoLuong,
	(pn.Gia)*(pn.SoLuong) as VonNhap		
	FROM SanPham sp
		left JOIN LoaiSP lsp ON lsp.MaLoai=sp.MaLoai
		left join PhieuNhap pn ON pn.MaSP= sp.MaSP
		WHERE YEAR(NgayNhap) = @Year
	--GROUP BY TenSP
End
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 12/19/2019 21:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaXuat] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NULL,
	[MaKho] [nvarchar](50) NULL,
	[Gia] [float] NULL,
	[SoLuong] [int] NULL,
	[DiaChiXuat] [nvarchar](150) NULL,
	[NgayXuat] [date] NULL,
	[MaND] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[MaXuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhieuXuat] ([MaXuat], [MaSP], [MaKho], [Gia], [SoLuong], [DiaChiXuat], [NgayXuat], [MaND]) VALUES (N'X01', N'SP1', N'K01', 30000, 50, N'Soc Trang', CAST(0xA43F0B00 AS Date), N'ND2')
INSERT [dbo].[PhieuXuat] ([MaXuat], [MaSP], [MaKho], [Gia], [SoLuong], [DiaChiXuat], [NgayXuat], [MaND]) VALUES (N'X02', N'SP2', N'K03', 50000, 30, N'Cần Thơ', CAST(0x753E0B00 AS Date), N'ND1')
INSERT [dbo].[PhieuXuat] ([MaXuat], [MaSP], [MaKho], [Gia], [SoLuong], [DiaChiXuat], [NgayXuat], [MaND]) VALUES (N'X03', N'SP2', N'K02', 10000, 10, N'Huế', CAST(0x40400B00 AS Date), N'ND3')
/****** Object:  StoredProcedure [dbo].[sp_ThongKeXuatKho]    Script Date: 12/19/2019 21:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[sp_ThongKeXuatKho]
(@Year int)
AS
Begin
	select sp.TenSP,
	lsp.TenLoai,
	px.SoLuong,
	(px.Gia)*(px.SoLuong) as VonXuat		
	FROM SanPham sp
		left JOIN LoaiSP lsp ON lsp.MaLoai=sp.MaLoai
		left join PhieuXuat px ON px.MaSP= sp.MaSP
		WHERE YEAR(NgayXuat) = @Year
	--GROUP BY TenSP
End
GO
/****** Object:  ForeignKey [FK_NhaCungCap_LoaiNhaCC]    Script Date: 12/19/2019 21:18:04 ******/
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCap_LoaiNhaCC] FOREIGN KEY([MaLoaiCC])
REFERENCES [dbo].[LoaiNhaCC] ([MaLoaiCC])
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [FK_NhaCungCap_LoaiNhaCC]
GO
/****** Object:  ForeignKey [FK_NguoiDung_NhomNguoiDung]    Script Date: 12/19/2019 21:18:04 ******/
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_NhomNguoiDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_NhomNguoiDung]
GO
/****** Object:  ForeignKey [FK_PhieuNhap_NguoiDung]    Script Date: 12/19/2019 21:18:04 ******/
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NguoiDung]
GO
/****** Object:  ForeignKey [FK_PhieuNhap_ThongTinKho]    Script Date: 12/19/2019 21:18:04 ******/
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_ThongTinKho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[ThongTinKho] ([MaKho])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_ThongTinKho]
GO
/****** Object:  ForeignKey [FK_SanPham_LoaiSP]    Script Date: 12/19/2019 21:18:04 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
/****** Object:  ForeignKey [FK_SanPham_NhaCungCap]    Script Date: 12/19/2019 21:18:04 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNhaCC])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
/****** Object:  ForeignKey [FK_SanPham_SanPham]    Script Date: 12/19/2019 21:18:04 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_SanPham] FOREIGN KEY([MaNhap])
REFERENCES [dbo].[PhieuNhap] ([MaNhap])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_SanPham]
GO
/****** Object:  ForeignKey [FK_PhieuXuat_NguoiDung]    Script Date: 12/19/2019 21:18:10 ******/
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_NguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_NguoiDung]
GO
/****** Object:  ForeignKey [FK_PhieuXuat_SanPham]    Script Date: 12/19/2019 21:18:10 ******/
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_SanPham]
GO
/****** Object:  ForeignKey [FK_PhieuXuat_ThongTinKho]    Script Date: 12/19/2019 21:18:10 ******/
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_ThongTinKho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[ThongTinKho] ([MaKho])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_ThongTinKho]
GO
